.EditItem {
	height:      40px;
	line-height: 25px;
	flex:        1 0;

	.Input {
		height:      100%;
		line-height: 40px;
		box-sizing:  border-box;
		padding:     0 10px;
		font-size:   15px;
		border:      1px solid #20b16c;
		width:       100%;

		}
	}