.Item {
	padding:       10px;
	border:        1px solid transparent;
	border-radius: 5px;
	height:        25px;
	line-height:   25px;
	margin:        0 10px;
	flex-grow:     1;

	&:hover {
		border: 1px dashed #20b16c;
		}

	&--active {
		background:    #20b16c;
		font-weight:   bold;
		color:         #fff;
		padding:       10px;
		border-radius: 5px;
		height:        25px;
		line-height:   25px;
		margin:        0 10px;

		&:hover {
			background: #42d38e;
			}
		}

	&--nohover {
		padding:     10px;
		height:      20px;
		line-height: 25px;
		margin:      0 10px;
		flex-grow:   1;

		&:hover {
			}
		}
	}
