.Main {
	display:         flex;
	flex-wrap:       wrap;
	max-height:      calc(100vh - 100px);
	justify-content: space-around;
	}

.primary {
	flex:             1 0 340px;
	height:           100%;
	background-color: #fff;
	border-radius:    15px;
	overflow-y:       auto;
	padding:          5px;
	margin:           15px;

	&:nth-child(2n) {
		margin-left: 15px;
		}
	}


