.Main {
	display:         flex;
	flex-wrap:       wrap;
	justify-content: space-around;
	align-items:     flex-start;
	}

.primary {
	flex:             1 0 250px;
	background-color: #fff;
	border-radius:    15px;
	overflow-y:       auto;
	padding:          5px;
	margin:           15px;

	&:nth-child(2n) {
		margin-left: 15px;
		}
	}


