.HeaderItem {
	width:       200px;
	line-height: 50px;
	font-weight: bold;
	text-align:  center;
	position:    relative;

	&:hover {
		text-shadow: #555 1px 1px;
		}

	&:active {
		text-shadow: #555 1px 1px;
		top:         2px;
		}
	}